# This file is only used to build images.
# Kubernetes is used to actually run the containers.

version: '3.7'

services:
  client:
    build: ./client
    image: venturplex/client:latest

  client-release:
    build:
      context: './client'
      dockerfile: Dockerfile-release
    image: venturplex/client-release:latest

  server:
    build: ./server
    image: venturplex/server:latest

  server-release:
    build:
      context: ./server
      dockerfile: Dockerfile-release
    image: venturplex/server-release:latest
