apiVersion: v1
kind: Service
metadata:
  name: client
  namespace: venturplex-devops-example
spec:
  type: LoadBalancer
  selector:
    app: client
  ports:
    - protocol: TCP
      targetPort: frontend
      port: 4200
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: client
  namespace: venturplex-devops-example
spec:
  replicas: 1
  selector:
    matchLabels:
      app: client
  template:
    metadata:
      labels:
        app: client
        version: v1
    spec:
      containers:
        - name: client
          image: venturplex/client:latest
          imagePullPolicy: Never
          volumeMounts:
            - mountPath: /app
              name: hot-reload
          ports:
            - name: frontend
              containerPort: 4200
      volumes:
        - name: hot-reload
          hostPath:
            # Path is essentially $(cwd)/client
            path: /path/to/projects/venturplex-devops-example/client
            type: Directory
