
apiVersion: v1
kind: Service
metadata:
  name: server
  namespace: venturplex-devops-example
spec:
  type: NodePort
  selector:
    app: server
  ports:
    - protocol: TCP
      port: 8080
      nodePort: 31001
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: server
  namespace: venturplex-devops-example
spec:
  replicas: 1
  selector:
    matchLabels:
      app: server
  template:
    metadata:
      labels:
        app: server
        version: v1
    spec:
      hostAliases:
        - ip: "127.0.0.1"
          hostnames:
            - "server"
      containers:
        - name: server
          image: vp/server:latest
          volumeMounts:
            - mountPath: /app
              name: hot-reload-server
          imagePullPolicy: Never
          ports:
            - containerPort: 8080
      volumes:
        - name: hot-reload-server
          hostPath:
            # Path is essentially $(cwd)/server
            path: /Users/Garve/projects/venturplex-devops-example/server
            type: Directory
